h1{
    color: black;
    background-color: lightcoral;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: 600;
    text-align: center;
}
h2{
    color: coral;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 500;

}